/*Thanatchaporn Sri-art 5610450187 sec200*/
html {
	margin: 0;
	padding: 0;
	}
body {
    background-image: url("background_full.jpg") ;
    background-attachment: fixed;
    font-family: georgia, sans-serif;
    font-size:125%;
    padding-left: 400px;
}
h1{
	text-shadow: 8px 3px 8px #31535f;
	color:#f1e890;
    padding: 20px;
}
p{
    color: #f8b6cd;
}

#theform{
	display: block;
	padding: 10px;
}
.row{
	display: table-row;
}
.row label{
	display: table-cell;
	padding: 10px;
	text-align: right;
	color: #f1e890;
}
.row input{
	display: table-cell;
    padding: 5px;
}
.row select{
	padding: 5px;
}
.button{
	padding-left:230px; 
}
.button input{
    background-color: #FFF;
    border: none;
    color: #02424b;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 80px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button input:hover {
	background-color: #f1e890;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#cancelButton:hover{
    background-color: #FFA4A4;
}